* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

header {
    margin: 35px 0 0 40px;
    position: relative;
}

.menu-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-right: 32px;
    color: #17233D;
    cursor: pointer;
}

.menu-button {
    width: 124px;
    height: 51px;
    border-radius: 6px;
    border-width: 1px;
    background: #6FBF44;
    border: 1px solid #4CB538;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

.image-logo {
    width: 595px;
    height: 500px;
    margin: 110px 0 0 110px;
    display: inline-block;
}

section {
    display: inline-block;
    margin: 150px 0 0 100px;
    position: absolute;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    color: #161A49;
    width: 582px;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    width: 493px;
    margin: 40px 0 35px;
}

.link-section {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #6FBF44;
    cursor: pointer;
}

.link-section:hover {
    opacity: 0.4;
}

.link-section:active {
    opacity: 0.8;
}

.menu-header:hover {
    opacity: 0.4;
}

.menu-header:active {
    opacity: 0.8;
}

.menu-button:hover {
    opacity: 0.8;
}

.menu-button:active {
    opacity: 0.4;
}

div {
    position: absolute;
    top: -20px;
    right: 20px;
    width: auto;
    height: auto;
}

.img-br {
    width: 22px;
    cursor: pointer;
}

.img-usa {
    width: 20px;
    cursor: pointer;
}

.img-br:hover,
.img-usa:hover {
    opacity: 0.5;
}

.img-br:active,
.img-usa:active {
    opacity: 0.8;
}

@media screen and (max-width:900px) {
    section {
        position: static;
        display: block;
        width: 95%;
        margin: 60px auto 0;
        text-align: center;
    }

    header {
        margin: 20px 20px 0 47px;
        text-align: auto;
    }

    h1 {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        color: #161A49;
        width: 278px;
        text-align: center;
        margin: 0 auto;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 33px;
        width: 304px;
        height: 130px;
        margin: 40px auto;
        text-align: center;
    }

    .image-logo {
        width: 80%;
        max-width: 320px;
        height: auto;
        bottom: 10%;
        margin: 50px 50px 0px;
        display: inline-block;
        position: absolute;

    }

    .menu-header {
        display: none;
    }

    .link-section {
        display: inline-block;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #6FBF44;
        cursor: pointer;
        margin: 0 auto;
    }

    div {
        top: -10px;
        right: 10px;
    }

    .img-br {
        width: 30px;
    }

    .img-usa {
        width: 28px;
    }
}